h2 {
	color : darkblue;
	font-size : 45px;
	text-indent : 20px;
	text-shadow:2px 2px cyan;
	line-height: 50px;
}
h3 {
	color : darkblue;
	font-size : 32px;
	text-indent : 20px;
	line-height : 0px;
}
p{
	font-size : 20px;
	text-indent : 20px;
	line-height : 2px;
}
.photo{
	width : 320px;
	height : 320px;
	object-fit:cover;
	border-radius:50%;
	float : left;
}
table, td, th {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td {
  text-align: center;
}
